<input type="text" [(ngModel)]="name" placeholder="name">
<input type="text" [(ngModel)]="email" placeholder="name@example.com">
<input type="password" [(ngModel)]="password">

<button (click)="signUp()">Sign Up</button>
<button (click)="signIn()">Sign In</button>
<button (click)="getToken()">Guest</button>

<hr>
{{ parent.parent$ | async | json }}

<br>
<hr>
<input type="text" [(ngModel)]="kidName" placeholder="Kid name">
<input type="number" [(ngModel)]="kidGender" placeholder="1 or 2">
<input type="number" [(ngModel)]="kidGrade">

<button (click)="loadKids()">Load kids</button>
<button (click)="createKid()">Create kid</button>

<hr>
{{ kids.kids$ | async | json }}

