<div *ngIf="gameEnabled">
  <game [text]="text" (end)="gameCompleted($event)"></game>
</div>
<div *ngIf="!gameEnabled">
  <h1>Howdy!</h1>
  <section>
    Type the text on top of the textarea as fast as possible!
    <br><br>
    <section *ngIf="playerJoined">
      Starting in...{{timeLeft}} sec.
    </section>
    <section *ngIf="!playerJoined">
      Waiting for another player...
    </section>
  </section>
</div>

<div>
  <h2>Partner progress...</h2>
  <div style="border: 1px solid black;">
    {{ partnerText() | async }}
  </div>
</div>
